*{
  margin:0px;
  padding:0px;

}
body{
  background-color: #141414;
  font-family:sans-serif;
}
.nav{
background-color: #141414;
width: 100%;
top: 0px;
z-index: 100000;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items:center;
  

}
.nav-container a{ 
  text-decoration:none;
}

.brandname{
  display: flex;
  font-size: 1.6rem;
  
}
.brandname a{
  color:#E50914;
  transition: color 0.6s ease;
}
.brandname a:hover{
  color: #C11119;
}
.nav-links{
  display: flex;
  gap: 35px;
}
.nav-links li{
  list-style:none;
   
  
}
.nav-links a{
  font-size:1.2rem;
  color: #ffffff;
  transition: color 0.6s ease;
}
.nav-links a:hover{
  color:#a2a2a2;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #C11119;
  margin: 3px 0;
  transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-radius: 2px;
  transform-origin: center;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  background: #E50914;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  background: #E50914;
}

@media (max-width: 890px) {
  .nav-container ul{
    justify-content: center;
  }
  
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    right:-100%;  
    top: 90px;     
    flex-direction: column;
    background-color: #141414;
    width: 100%;
    padding: 20px 0;
    gap: 0;
    transition: right 0.6s ease-out;
  }

  .nav-links.active {
    right: 0;  
  }

  .nav-links li {
    padding: 15px 20px;
    text-align: center;
  }

  .nav-links li:last-child {
    border-bottom: none;
  }
}